<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import FakeService from "../../services/FakeService";

    export default {
        name: "HomeComponent",
        data() {
            return {
                todoList: []
            }
        },
        methods: {
            fetchTodoList() {
                FakeService.fetchTodos()
                    .then(response => {
                        this.todoList = response.data;
                    });
            }
        },
        created() {
            this.fetchTodoList();
        }
    }
</script>
