<div>
    <h1>TODO list</h1>
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>User id</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
        <tr v-for="todo in todoList">
            <td>{{ todo.id }}</td>
            <td>{{ todo.userId }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.completed? 'Yes' : 'No' }}</td>
        </tr>
    </table>
</div>